node_modules
elm-stuff
VerifyExamples
zombie
package-lock.json
elm.js
elm.swift
Elm.swift
main.js
elmMain.js
dist

build
.build
target
*.wasm
*.o
main

# swift
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.resolved

# editors
.idea/
ElmjutsuDumMyM0DuL3.elm
.vscode
.editorconfig

# not ready for release, yet
example-transpile-itself
example-road-to-elm-formatter


.fake
